main{
    #bandeau{
        .card{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .card-element{
                width: 30%;
                border: 1px solid gainsboro;
                border-radius: 5px;
                .card-header{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li{
                        list-style-type: none;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}