main{
    #partenaire{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cercle-partenaire{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            a{
                img{
                    border-radius: 50%;
                    max-width: 20rem;
                    padding: 5px;
                }
            }
        }
    }
}